/*************************************************HTML ELEMENTS*****************************************/

body {
    font-family: 'Montserrat';
}


h1, h2, h3 ,h4 ,h5 ,h6 {
    font-family: 'Montserrat', "Ubuntu", sans-serif;
    line-height: 1.5;
    font-weight: bold;

}

h1  {
    font-size: 3.5rem;

}


h2 {
    font:3rem;
    font-weight: 800;
}


p   {
    color: grey;
}



/*Navigation bar*/


.container-fluid {
    padding: 3% 15% 7%;
}


.navbar {
    padding:0 0 4.5rem;

}

.nav-link {
    font-size: 1.3rem;
    font-family: 'Montserrat';
    color: #fff;
}

.nav-item {
    padding: 0px 16px;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "ubuntu";
    font-weight: bold;
}

.right  {
    padding-bottom: 2%;
}

.dwn-btn {
    margin: 5% 3% 5% 0%;
}

/*Title Image*/



.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}




/************************************************FEATURES SECITON*****************************************************/

.colored-background {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}


 #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
 }

 .feature-box {
     text-align: center;
     padding: 5%;
 }

 .fascolor {
     color: #ef8172;
     margin-bottom: 1rem;
 }

 .fascolor:hover {
    color: #ff4c68;
    
}

/************************************************Testimonials*****************************************************/

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;

}


.testimg {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-inner {
    padding: 7% 15%;
}

/************************************************PRESS*****************************************************/

#press {
    padding-bottom: 3%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;

}

.presslogo {
    width: 15%;
    margin: 20px 20px 50px;
}

/************************************************PRICING*****************************************************/

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}

/************************************************MEDIA QUERY*****************************************************/

@media (max-width:1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }

}


#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color:#fff;

}

.ctah1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;

}

#footer {
    padding: 7% 15%;
    text-align: center;

}

.icon-footer {
    margin: 20px 10px;
}